@charset "UTF-8";
/*----------------------------- Доработка для маленьких экранов (ноутбуки/планшеты) -----------------------------*/
@media screen and (min-width: 1146px) {
  .five-section__main-img {
    height: 450px;
  }
}

@media screen and (max-width: 1146px) {
  /*===================================== Второй блок тест =====================================*/
  .test {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border: 2px solid #b3b1b1;
  }
  .test__left-block {
    border-right: 0;
    max-width: 100%;
    width: 100%;
  }
  .test__title {
    text-align: center;
  }
  .test__cards {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .test__right-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-top: 2px solid #b3b1b1;
  }
  .test__complite {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 0;
    margin-right: 30px;
  }
  .test__complite:last-child {
    margin-right: 0;
  }
  /*===================================== Четвёртый блок, карточки =====================================*/
  .appartment-block__apps-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 30px 0 0 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .appartment-block__apps-card {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    max-width: 800px;
    margin: 0 0 50px 0;
  }
  /*===================================== Пятый блок, Табы =====================================*/
  .five-section__container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .five-section__left-block {
    margin-top: 50px;
    max-width: 750px;
    min-width: 310px;
    width: 100%;
    margin-right: 0;
  }
  /*===================================== Шестой блок, Карточки =====================================*/
  .six-section__cards-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 0;
  }
  .six-section__card {
    max-width: 755px;
  }
  .six-section__card-title {
    max-width: 400px;
  }
}

@media screen and (max-width: 1125px) {
  /*===================================== Седьмой блок картинка =====================================*/
  .seven-section__content-container {
    position: relative;
  }
  .seven-section__img {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  .seven-section__right-block {
    position: absolute;
    right: 0;
    bottom: -1px;
    width: 445px;
    height: 535px;
  }
  .seven-section__left-block {
    max-width: 660px;
    min-width: 0;
  }
}

/*----------------------------- Доработка мелочей -----------------------------*/
@media screen and (max-width: 950px) {
  /*===================================== Второй блок тест =====================================*/
  .test__right-block {
    padding: 40px 10px;
  }
  .test__complite-img {
    margin-right: 12px;
  }
}

@media screen and (max-width: 900px) {
  /*===================================== Седьмой блок картинка =====================================*/
  .seven-section__right-block {
    opacity: .5;
  }
  /*===================================== Восьмой блок подвал =====================================*/
  .eight-section__content-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .eight-section__left {
    max-width: 550px;
    min-width: 270px;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    margin-top: 20px;
  }
  .eight-section__center {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin: 0;
    margin-right: 50px;
  }
  .eight-section__right {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

@media screen and (max-width: 768px) {
  /*===================================== Первый блок шапка =====================================*/
  .header__center-text {
    display: none;
  }
  .header__center-right {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    max-width: 500px;
  }
  .preview__about {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .preview__card:nth-child(2) {
    display: none;
  }
  /*===================================== Второй блок тест =====================================*/
  .test {
    border: 0;
  }
  .test__card {
    min-width: 0;
  }
  .test__left-block {
    padding: 40px 0;
  }
  /*===================================== Третий блок грид таблица =====================================*/
  .third-section__servises-grid {
        grid-template-areas: "house money_house money_house" "house boat boat" "management management management" "concierge invest invest";
    -ms-grid-columns: (min-max(350px, 373px))[auto-fit];
        grid-template-columns: repeat(auto-fit, min-max(350px, 373px));
    -ms-grid-rows: (300px)[4];
        grid-template-rows: repeat(4, 300px);
  }
}

@media screen and (max-width: 610px) {
  /*===================================== Первый блок шапка, фон и превью =====================================*/
  .menu__list {
    margin-top: 30px;
  }
  .ask-page__top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 50px;
  }
  .first-section {
    background: url(../img/header_bg.jpg) top no-repeat;
    min-height: 100%;
    background-size: cover;
    padding-bottom: 80px;
  }
  .first-section__apps-page {
    background: url(../img/backgrounds/header_bg-apps-block5.jpg) left no-repeat;
    min-height: 100vh;
    background-size: cover;
    padding-bottom: 80px;
  }
  .first-section__invest-house-page {
    background: url(../img/backgrounds/header_bg-apps-block8.jpg) center no-repeat;
    min-height: 100vh;
    background-size: cover;
    padding-bottom: 80px;
  }
  .first-section__invest-page {
    background: url(../img/backgrounds/header_bg-apps-block9.jpg) left no-repeat;
    min-height: 100vh;
    background-size: cover;
    padding-bottom: 80px;
  }
  .first-section__yacht-page {
    background: url(../img/backgrounds/header_bg-apps-block10.jpg) right no-repeat;
    min-height: 100vh;
    background-size: cover;
    padding-bottom: 80px;
  }
  .first-section__trust-page {
    background: url(../img/backgrounds/header_bg-apps-block12.jpg) center no-repeat;
    min-height: 100vh;
    background-size: cover;
    padding-bottom: 80px;
  }
  .first-section__concierge-page {
    background: url(../img/backgrounds/header_bg-apps-block14.jpg) right no-repeat;
    min-height: 100vh;
    background-size: cover;
    padding-bottom: 80px;
  }
  .first-section__ask-page {
    background: #eef3f9;
    min-height: 100vh;
    background-size: cover;
    padding-bottom: 40px;
  }
  .header {
    margin-top: 0;
  }
  .header__right {
    display: none;
  }
  .header__center-right {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .preview__text-block {
    text-align: center;
  }
  .preview__title {
    font-size: 42px;
  }
  .preview__subtitle {
    font-size: 20px;
  }
  /*===================================== Второй блок тест =====================================*/
  .second-section__block-title-apps-page {
    margin-bottom: 30px;
  }
  .test__right-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .test__complite {
    margin-bottom: 25px;
  }
  .test__complite:last-child {
    margin-bottom: 0;
  }
  /*===================================== Третий блок гриды =====================================*/
  .third-section__servises-grid {
        grid-template-areas: "house house house" "money_house money_house money_house" "boat boat boat" "management management management" "concierge concierge concierge" "invest invest invest";
    -ms-grid-rows: (400px)[6];
        grid-template-rows: repeat(6, 400px);
  }
  .third-section__subtitle-container {
    max-width: 400px;
    min-height: 60px;
    padding-right: 20px;
  }
}

@media screen and (max-width: 540px) {
  /*===================================== Первый блок превью =====================================*/
  .preview__text-block {
    text-align: center;
  }
  .preview__title {
    font-size: 38px;
  }
  .preview__subtitle {
    font-size: 18px;
  }
  .preview__about {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .preview__number {
    font-size: 70px;
    margin-right: 5px;
  }
  .preview__description {
    font-size: 14px;
  }
  .preview__text {
    font-size: 14px;
  }
  /*===================================== Второй блок тест =====================================*/
  .test__cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .test__cards a:first-child {
    margin-right: 0px;
  }
  .test__card {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .test__card:hover::before {
    height: 0px;
  }
  .test__card:hover .test__card-title {
    width: 100%;
  }
  .test__card-title {
    width: 80%;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    padding: 10px;
    position: absolute;
    color: #fff;
    opacity: 1;
    font-size: 30px;
    -webkit-transition: all .5s ease-out;
    transition: all .5s ease-out;
  }
  .test__right-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .test__complite {
    margin-bottom: 25px;
  }
  .test__complite:last-child {
    margin-bottom: 0;
  }
  /*===================================== Шестой блок картинка =====================================*/
  .six-section__card-content {
    position: relative;
  }
  .six-section__card-right {
    position: absolute;
    width: 150px;
    height: 140px;
    right: 0;
    z-index: -1;
  }
  .six-section__card {
    padding: 20px 30px;
  }
  .six-section__cards-container {
    padding: 0;
  }
  .six-section__container {
    padding: 0;
  }
  .six-section__card-img {
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
  }
}

@media screen and (max-width: 470px) {
  .block-title__subtitle {
    font-size: 18px;
  }
  /*===================================== Первый блок превью =====================================*/
  .preview__title {
    font-size: 32px;
    line-height: 120%;
    margin-bottom: 10px;
  }
  .preview__subtitle {
    font-size: 16px;
  }
  /*===================================== Второй блок тест и сама секция =====================================*/
  .second-section {
    margin-top: 20px;
  }
  .second-section__block-title-subtitle {
    font-size: 16px;
  }
  .test__left-block {
    padding-top: 10px;
  }
  /*===================================== Третий блок, отступы =====================================*/
  .third-section__container {
    padding: 0;
  }
  /*===================================== Четвёртый блок, карточки =====================================*/
  .four-section__container {
    padding: 0 5px;
  }
  .appartment-block__card-title {
    margin-right: 20px;
    margin-left: 20px;
  }
  .appartment-block__card-lot {
    margin: 0 20px;
  }
  .appartment-block__card-center {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    margin: 20px 20px;
  }
  .appartment-block__right-block {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .appartment-block__cost {
    margin-bottom: 0;
  }
  .appartment-block__square {
    margin-right: 20px;
  }
  /*===================================== Пятый блок, отступы =====================================*/
  .five-section {
    padding-top: 40px;
  }
  /*===================================== Седьмой блок отступ =====================================*/
  .seven-section {
    padding-top: 20px;
  }
}

@media screen and (max-width: 435px) {
  /*===================================== Шестой блок, Карточки =====================================*/
  .six-section {
    margin-top: 20px;
  }
  .six-section__card-right {
    opacity: .2;
  }
}

@media screen and (max-width: 381px) {
  .menu__link {
    font-size: 32px;
  }
  /*===================================== Первый блок превью =====================================*/
  .preview__title {
    font-size: 26px;
    line-height: 120%;
    margin-bottom: 10px;
  }
  .preview__subtitle {
    font-size: 14px;
  }
  .preview__button {
    font-size: 16px;
    padding: 22 0;
  }
}
